/.ipnyb_checkpoints
/.ipnyb_checkpoints/
/consultation-1/.ipynb_checkpoints
/consultation-1/.ipynb_checkpoints/
/consultation-2/.ipnyb_checkpoints
/consultation-2/.ipnyb_checkpoints/
/consultation-3/.ipnyb_checkpoints
/consultation-3/.ipnyb_checkpoints/
/consultation-4/.ipnyb_checkpoints
/consultation-4/.ipnyb_checkpoints/
onkentes-szerzodes.docx